[submodule "config/zsh/.zprezto"]
	path = config/zsh/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "config/tmux/tpm"]
	path = config/tmux/tpm
	url = https://github.com/tmux-plugins/tpm
